{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Choose scenario{% endblock %}

{% block main %}
    <div class="d-flex justify-content-center align-content-center w-100 h-100">
        <div class="d-flex justify-content-between align-content-center p-3">
            <div class="card bg-light rounded-3 p-3">
                <div class="card-body">

                    <p>{{ _context[0]['scenarioMessage'] }}</p>

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                            <div class="card-header">Don't forget</div>
                            <div class="card-body">
                                {% for roll in _context[0]['battleRolls'] %}
                                    <p>{{ roll|raw }}</p>
                                {% endfor %}

                                <p class="card-text mt-5">Don't forget to roll dices for fighters with Old Battle Wounds or Head Wounds to see what part they play in the battle.</p>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Next</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}