{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Choose gangers{% endblock %}

{% block main %}
    <style>
        .form-check-inline + .form-check-inline {
            margin-left: 0 !important;
        }
        .form-check label {
            margin-left: 5px;
            margin-right: 10px;
        }
        @media (max-width: 575.98px) {
            .form-check-inline div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    </style>
    <div class="d-flex justify-content-center align-content-center w-100 h-100">
        <div class="d-flex justify-content-between align-content-center p-3">
            <div class="card bg-light rounded-3 p-3">
                <div class="card-body">
                    {{ form_start(form) }}
                    <fieldset class="mb-3 xl">
                        <legend>Gang 1</legend>
                        <div class="btn-group d-flex flex-column justify-content-between " role="group" aria-label="Gang 1 Gangers">
                            {% for child in form.gang1 %}
                                <div class="form-check form-check-inline">
                                    {{ form_label(child, null, {'label_attr': {'class': 'form-check-label'}}) }}
                                    {{ form_widget(child) }}
                                </div>
                            {% endfor %}
                        </div>
                    </fieldset>
                    <fieldset class="mb-3">
                        <legend>Gang 2</legend>
                        <div class="btn-group d-flex flex-column justify-content-between" role="group" aria-label="Gang 2 Gangers">
                            {% for child in form.gang2 %}
                                <div class="form-check form-check-inline">
                                    {{ form_label(child, null, {'label_attr': {'class': 'form-check-label'}}) }}
                                    {{ form_widget(child) }}
                                </div>
                            {% endfor %}
                        </div>
                    </fieldset>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Next</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}