{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}{{ 'Equipements informations'|trans }}{% endblock %}

{% block main %}
    <div class="d-flex justify-content-center align-content-center w-100 h-100">
        <div class="d-flex flex-column justify-content-between align-content-center p-3">

            <table class="equipments">
                <thead>
                <tr>
                    <th>{{ 'Name'|trans }}</th>
                    <th>{{ 'Description'|trans }}</th>
                    <th>{{ 'Cost'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% set lastType = null %}

                {% for equipement in equipements %}
                    {% if equipement.type != lastType %}
                        <tr>
                            <td colspan="10" class="weapon-type-separator">
                                <strong>{{ equipement.type|trans }}</strong>
                            </td>
                        </tr>
                        {% set lastType = equipement.type %}
                    {% endif %}

                    <tr>
                        <td>{{ equipement.enumToString|trans }}</td>
                        <td>{{ equipement.getDescription|trans }}</td>
                        {% if equipement.getVariableDicesNumber > 0 %}
                            <td>{{ equipement.getFixedCost }} + {{ equipement.getVariableDicesNumber }} D{{ equipement.getVariableDicesType }} {{ "credits"|trans }}</td>
                        {% else %}
                            <td>{{ equipement.getFixedCost }} {{ "credits"|trans }}</td>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}