{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Dashboard{% endblock %}

{% block main %}
  <div class="container">

    <h2 class="mt-5 mb-4">Add</h2>
    <div class="row">
      {% for link in linksAdd %}
        <div class="col-md-4 mb-3">
          <div class="card bg-success rounded-3">
            <a href="{{ link.url }}" class="card-body text-white">
              <h3 class="card-title">
                <i class="{{ link.icon }}"></i> {{ link.text }}
              </h3>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>

    <h2 class="mt-5 mb-4">Show</h2>
    <div class="row">
      {% for link in linksShowPrincipal %}
        <div class="col-md-4 mb-3">
          <div class="card bg-primary rounded-3">
            <a href="{{ link.url }}" class="card-body text-white">
              <h3 class="card-title">
                <i class="{{ link.icon }}"></i> {{ link.text }}
              </h3>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="row">
      {% for link in linksShowSecondary %}
        <div class="col-md-4 mb-3">
          <div class="card bg-light rounded-3">
            <a href="{{ link.url }}" class="card-body text-dark">
              <h3 class="card-title">
                <i class="{{ link.icon }}"></i> {{ link.text }}
              </h3>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>

    <h2 class="mt-5 mb-4">Statistics</h2>
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card bg-light rounded-3">
          <div class="card-body text-dark">
            <h3 class="card-title">
              <i class="fas fa-trophy"></i> Highest gang rating
            </h3>
            <h4>
              {{ statistics.highestRating[0].getName }} - {{ statistics.highestRating[0].getRating }}
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card bg-light rounded-3">
          <div class="card-body text-dark">
            <h3 class="card-title">
              <i class="fas fa-trophy"></i> Highest gang credits
            </h3>
            <h4>
              {{ statistics.highestCredits[0].getName }} - {{ statistics.highestCredits[0].getCredits }}
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}